.item {
    border-radius: 5px;
    padding: 12px;
    border: 1px solid green;
    margin-bottom: 8px;
    min-width: 240px;
    color: green;
    user-select: none;
}

.completed {
    color: red;
    border: 1px solid red;
}